body {
    color:              #367;
}
a, a:link {
    color:              #367;
    border-color:       #367;
}
h5 {
    border-color:       #367;
}
.separator {
    border-color:       #367;
}
#head a {
    color:              #7DA2BF;
}
    #head ul.tabs li.active a {
        color:          white;
        background:     #ADD2EF;
        border-color:   #E3EAF0;
        font-weight:    bold;
    }
    #head ul.tabs li a:hover {
        background:     #ADD2EF;
        border-color:   #E3EAF0;
    }
#foot {
    background:         #E3EAF0;
    border-color:       #ADD2EF;
}
.text {
    background:         #ADD2EF;
    border-color:       #E3EAF0;
}
.text[class] {
    background:         rgba(87%, 90%, 100%, .7);
}
.entry ul.buttons li .button {
    background:         #E3EAF0;
    border-color:       #ADD2EF;
}
